body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
  background: linear-gradient(to bottom right, #666699, #393939);
}

h1 {
  font-family: verdana;
  color: white;
}

h2 {
  font-family: verdana;
  color: white;
}

h3 {
  font-family: verdana;
  color: white;
}

ul {
  font-family: helvetica;
  color: white;
}

article {
  font-family: arial;
  color: white;
}

.gambar {
  height: auto;
  width: 300px;
  max-width: 100%;
}
