<!DOCTYPE html>

<html lang="en">
{% load static %}

<!-- Page title and stuff-->
<head>
	<link href="{% static 'css/main.css' %}" rel="stylesheet">
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Story 1 PPW - Primo Giancarlo Uneputty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- Start of page content -->
<body>
    <!-- Header image reference -->
	<img src="{% static 'assets/requiescat.jpg' %}" alt="">

    <!-- Page header -->
    <h1>Hello! My name is Primo Giancarlo Uneputty!</h1>
    <h2>NPM : 1806205180    |   Angkatan : 2018</h2>

    <!-- Page content -->
    <article>I am 19 years old.</article>
    <article>I am a student at Fasilkom UI.</article>
    <h3>Hobi :</h3>
    <ul>
        <li>Listening to soothing music</li>
        <li>Laughing at dank memes</li>
        <li>Contemplating my existence</li>
    </ul>
    <article><b>My Description:</b> I have decided that I want to die.</article> 
    <article>Here is a picture of me at highschool graduation :</article>

    <!-- My image reference -->
    <img src="{% static 'assets/wisuda.JPG' %}" class="gambar">
</body>

</html>
